header {
   position: fixed;
   width: 100%;
   height: 4rem;
   background-color: rgb(255, 120, 40);

   li {
      font-size: 1.5rem;
      list-style-type: none;
   }
}

#emptySpace {
   //Space to compensate header position:fixed so content doens't appear behind header
   height: 3rem;
}

// Header

#titleContainer {
   display: grid;
   grid-template-columns: 1fr 8fr 1fr;
}

#mobileMenuButton {
   z-index: 1;
   padding: .75rem 1rem 0 1rem;
}

#h1 {
   text-align: center;
   z-index: 1;

   .link {
      font-size: 3rem;
   }
}

a {
   text-decoration: none;
   color: black;
}

// Desktop Menu
#navMenuDesktop {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-around;
   align-items: center;
}

#desktopMenuContainer {
   display: none;

   @media only screen and (min-width: 900px) {
      max-width: 50rem;
      width: 100%;
      margin: 0 auto;

      a:link,
      a:visited {
         color: black;
         text-decoration: none;
      }

      a:hover {
         text-decoration: underline;
      }

      a:active {
         text-decoration: underline;
         color: yellow;
      }
   }
}

// Mobile Menu
#navSlash1,
#navSlash2,
#navSlash3 {
   width: 35px;
   height: 5px;
   background-color: #333;
   margin: 6px 0;
   transition: 0.4s;
}

#mobileMenuContainer {
   @media only screen and (min-width: 900px) {
      // display: none;
   }

   transition: 0.4s;
   height: 12rem;
   background-color: rgb(255, 120, 40);
   z-index: 0;
   width: 100%;
}

// Animations
.mobileMenuTransition {
   -webkit-transform: translate(0px, -16rem);
   transform: translate(0px, -16rem);
}

.change {
   #navSlash1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 7px);
      transform: rotate(-45deg) translate(-8px, 7px);
   }

   #navSlash2 {
      opacity: 0;
   }

   #navSlash3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
   }

   #mobileMenuContainer {
      display: none;
   }
}