*, body {
  margin: 0;
}

body {
  margin-bottom: 5rem;
}

header {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: rgb(255, 120, 40);
}
header li {
  font-size: 1.5rem;
  list-style-type: none;
}

#emptySpace {
  height: 3rem;
}

#titleContainer {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

#mobileMenuButton {
  z-index: 1;
  padding: 0.75rem 1rem 0 1rem;
}

#h1 {
  text-align: center;
  z-index: 1;
}
#h1 .link {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

#navMenuDesktop {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#desktopMenuContainer {
  display: none;
}
@media only screen and (min-width: 900px) {
  #desktopMenuContainer {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  #desktopMenuContainer a:link,
#desktopMenuContainer a:visited {
    color: black;
    text-decoration: none;
  }
  #desktopMenuContainer a:hover {
    text-decoration: underline;
  }
  #desktopMenuContainer a:active {
    text-decoration: underline;
    color: yellow;
  }
}

#navSlash1,
#navSlash2,
#navSlash3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#mobileMenuContainer {
  transition: 0.4s;
  height: 12rem;
  background-color: rgb(255, 120, 40);
  z-index: 0;
  width: 100%;
}
.mobileMenuTransition {
  transform: translate(0px, -16rem);
}

.change #navSlash1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}
.change #navSlash2 {
  opacity: 0;
}
.change #navSlash3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.change #mobileMenuContainer {
  display: none;
}

main {
  margin: 0rem auto;
  max-width: 40rem;
}

h2 {
  margin: 2rem auto;
  font-size: 3.5rem;
  text-align: center;
}

.recipeStyle {
  padding-top: 1rem;
}
.recipeStyle h3 {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
}

#miseEnPlaceList {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: auto auto;
}
#miseEnPlaceList input {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
}

#ingredients {
  font-size: 1.3rem;
}
#ingredients p {
  font-size: 1.1rem;
}

#considerations {
  font-size: 1.1rem;
}

#tips {
  font-size: 1.1rem;
}

#cooking {
  font-size: 1.3rem;
}

#alfredBtn {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  width: 16rem;
  height: 3rem;
  background-color: rgb(255, 120, 40);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}
#alfredBtn:hover {
  border-bottom: 0.2rem solid black;
  border-right: 0.2rem solid black;
}
#alfredBtn:active {
  border-top: 0.2rem solid black;
  border-left: 0.2rem solid black;
  border-bottom: 0 solid black;
  border-right: 0 solid black;
}

#alfredBtnContainer {
  color: black;
  margin: auto;
  text-align: center;
}

#alfredContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 120, 40);
  z-index: 1;
}

#alfredCloseBtnSlash1,
#alfredCloseBtnSlash2 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#alfredCloseBtnSlash1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

#alfredCloseBtnSlash2 {
  transform: rotate(45deg);
}

#closeBtn {
  position: fixed;
  right: 0;
  top: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.5rem 2rem;
}
#closeBtn:hover #alfredCloseBtnSlash1,
#closeBtn:hover #alfredCloseBtnSlash2 {
  height: 6px;
}

#alfredRecipeTitle {
  font-size: 1.75rem;
  margin: 1rem;
}

#guideBody {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.25rem;
  width: 30rem;
  max-width: 100vw;
  height: 80vh;
}

#guideTitle {
  font-size: 1.6rem;
  text-align: center;
}

#guideTitleContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.guideBtn {
  width: 2rem;
  height: 2rem;
  text-align: center;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

#guideContent {
  margin: 0.5rem auto;
  max-width: 75vw;
}
#guideContent ol {
  display: flex;
  flex-flow: column nowrap;
}

.itemLabel input {
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
}

#disclaimer-units {
  position: fixed;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -4rem);
  height: 4rem;
  background-color: rgb(255, 80, 30);
}
#disclaimer-units h3 {
  text-align: center;
}
#disclaimer-units p {
  margin: auto;
  max-width: 40rem;
  width: 90%;
}
#disclaimer-units span {
  font-weight: bold;
}

.hidden {
  display: none;
}

/* 

Colors:

orange:
rgb(255, 120, 40)

*/