*, body {
  margin: 0;
  font-size: 16px;
}

header {
  width: 100%;
  color: white;
  background-color: rgb(255, 120, 40);
}

#categoriesHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

#headerSpace {
  flex-grow: 2;
}

a {
  text-decoration: none;
  color: black;
}

#h1 {
  text-align: center;
  font-size: 3.75rem;
  padding-bottom: 0.375rem;
  flex-grow: 20;
  color: black;
}

#menuContainer {
  cursor: pointer;
  float: right;
  padding-right: 1.5rem;
  flex-grow: 1;
}

.navMenu {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
@media only screen and (min-width: 900px) {
  .navMenu {
    display: none;
  }
}

#mobileMenuContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: yellow;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change #navDiv1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}
.change #navDiv2 {
  opacity: 0;
}
.change #navDiv3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.change #mobileMenuContainer {
  display: none;
}

#pagesNav {
  display: none;
}
@media only screen and (min-width: 900px) {
  #pagesNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.25rem;
  }
  #pagesNav a:link,
#pagesNav a:visited {
    color: black;
    text-decoration: none;
  }
  #pagesNav a:hover {
    text-decoration: underline;
  }
  #pagesNav a:active {
    text-decoration: underline;
    color: yellow;
  }
}

main {
  margin: 0 auto;
}

h2 {
  margin: 2rem auto;
  font-size: 3.5rem;
  text-align: center;
}

.recipeStyle h3 {
  text-align: center;
  font-size: 1.3rem;
}

#alfredBtn {
  margin: 0 25%;
  font-size: medium;
  color: black;
  padding: 0.5rem 0.25rem;
  width: 60%;
  background-color: rgb(203, 204, 207);
  border: 0.25rem solid black;
  border-radius: 0.5rem;
}

#disclaimer-units {
  position: fixed;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -4rem);
  height: 4rem;
  background-color: rgb(255, 80, 30);
}
#disclaimer-units h3 {
  text-align: center;
}
#disclaimer-units p {
  margin: auto;
  max-width: 40rem;
  width: 90vw;
}
#disclaimer-units span {
  font-weight: bold;
}